# 0 Mise en place des fonctions de travail

In [5]:
import random

def u_array(debug=False, N=21):
    """
    Retourne un tableau non trie avec des valeur de 1 <= i < N .
    Par defaut un tableau  1 <= i < 21
    
    Pour tester vos algorithmes, vous pouvez passer l'argument debug=True
    dans ce cas, l'algorithme vous donne toujour le meme tableau :
    
    [3, 9, 7, 1, 6, 2, 8, 4, 5]
    
    """
    if debug:
        return [3, 9, 7, 1, 6, 2, 8, 4, 5]
    
    array = list(range(1,N))
    random.shuffle(array)

    return array

In [6]:
# Exemple d'utilisation de la fonction precedente

print(u_array()) # Retourne un tableau avec des nombres naturels allant de 1 a 20
print(u_array(True)) # Retourne le tableau [3, 9, 7, 1, 6, 2, 8, 4, 5]
print(u_array(N=31)) # Des nombres naturels allant de 1 a 30

[12, 7, 1, 17, 19, 11, 5, 18, 14, 20, 15, 2, 16, 10, 6, 9, 8, 3, 13, 4]
[3, 9, 7, 1, 6, 2, 8, 4, 5]
[3, 23, 1, 11, 28, 7, 9, 18, 29, 19, 20, 12, 15, 22, 14, 21, 24, 16, 26, 10, 17, 25, 4, 5, 2, 6, 27, 30, 8, 13]

In [75]:
def swap(A, i, j):
    # Store in multivariable assignement
    #print(f"Swap {A[i]} with {A[j]}")
    #print(A)
    A[i], A[j] = A[j], A[i]
    #print(A)

In [76]:
swap(u_array(True), 1, 4)
print(u_array(True))

[3, 9, 7, 1, 6, 2, 8, 4, 5]

# 1 Les tris classiques

## 1.1 Tri à bulles

**Un pseudocode possible** *(source : Wikipedia)*

```
procedure tri_à_bulles(Tableau T)
   pour i allant de (taille de T)-1 à 1
       pour j allant de 0 à i-1
           si T[j+1] < T[j] alors
               échanger(T[j+1], T[j])
       fin pour
   fin pour
        
```

In [77]:
def is_sorted(A:list) -> bool:
    is_sorted=True
    for i in range(0, len(A)-1):
        if not A[i+1] > A[i]:
            is_sorted=False
    return is_sorted

In [78]:
def bubble(A):
    """
    les grands valeurs remontent aux derniers position du tableau
    comme des bulles d'air dans l'eau
    """
    #print(f"Before bubble : {A}")
    for i in range(len(A), 1, -1):
        #print(f"Main loop --> {i}")
        for j in range(0, i-1):
            if A[j+1]<A[j]:
                swap(A, j+1, j)
    #print(f"After bubble : {A}")
    print(f"is_sorted => {is_sorted(A)}")

In [79]:
bubble(u_array(True))

is_sorted => True

## 1.2 Insertion

**Un pseudocode possible** *(source : Wikipedia)*

```
procédure tri_insertion(tableau T, entier n)

  pour i de 1 à n - 1
        # mémoriser T[i] dans x
        x ← T[i]                            

        j ← i                               
        tant que j > 0 et T[j - 1] > x
                 T[j] ← T[j - 1]
                 j ← j - 1

        # placer x dans le "trou" laissé par le décalage
        T[j] ← x 
```

In [108]:
def insertion(A):
    """
    on cherche la place ou va etre positionne l'i_eme element 
    """
    print(f"Before : {A}")
    for i in range(1, len(A)-1):
        print(f"------> i = {i}")
        x=A[i]
        j=i        
        
        while (j>0 and A[j-1] > x):
            print(f"--- j = {j}")
            print((f"Avant swap : {A}")
            swap(A, j, j-1)
            j-=1
            PRINT(f"Avant swap : {A}")

        A[j]=A[i]
    print(f"After : {A}")

In [107]:
insertion(u_array(True))

Before : [3, 9, 7, 1, 6, 2, 8, 4, 5]
---> i = 1
---> i = 2
2
---> i = 3
3
2
1
---> i = 4
4
3
---> i = 5
5
4
3
2
1
---> i = 6
6
5
4
---> i = 7
7
6
5
4
After : [9, 9, 3, 9, 9, 9, 9, 9, 5]

## 1.3 Selection

**Un pseudocode possible** *(source : Wikipedia)*

```
procédure tri_selection(tableau t, entier n)
  pour i de 0 à n - 2
      min ← i       
      pour j de i + 1 à n - 1
          si t[j] < t[min], alors min ← j
      fin pour
      si min ≠ i, alors échanger t[i] et t[min]
  fin pour
fin procédure
```

In [28]:
def selection(A):
    """
    on cherche l'element qui doit se placer a l'i_eme place
    """
    raise NotImplementedError

In [29]:
selection(u_array())

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]